.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 20p;
    grid-auto-rows: 100px;
    border: 55px solid gold
}

body {
    background-color: green;
}


p.name{
    font-size: 25px;

}

  label {
    font-size: 25px;
}


body p.name {
    color: black;
    font-size: 25px;
    border-color:gold;
    border-style: dotted;
   
}

body p


input[type=submit]{
    
    font-size: 15px;
}

input[type=comment] {
    height: 80px;
    width: 720px;
}

img:hover {
    transition-delay: 2s;
    
}

.fadeIn {
    animation: fadeIn 12s;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;};

}
