body {
    background-color: green;
    /* background-image: url("https://claudiadiaz7.files.wordpress.com/2014/10/9-mc-card-suits-2.gif"); */
    background-size: 80px 80px;

}
   /* h2 {
    color: silver;
   } */


main p.greeting {
    
    font-size:x-large;
    font-style: italic;
    color: gold;
    
}

label {
    font-size: 25px;
}

p.userSearch {
    font-size: 25px;
}

p.cards {
    font-size:x-large;
    font-style: italic;
    color: gold;
    
}

p.pickedCards {
    font-size: 25px;
}

form input {
    display: grid;
    height: 20px;
    width: 400px
}

section.rules h3{
    font-size: 30px;
    text-decoration: solid underline;
    font-weight: bold;
    color: yellow;
  

    

}

section.points h3 {

    font-size: 30px;
    color:yellow;
}

section.rules img {
    transition-property: inherit;
    transition-duration: 4s;
    transition-delay: 2s;

}
section.rules li {
    font-size: larger;
    font-weight: bold;
    color: gold;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
}

section.points li {
    font-size: larger;
    font-weight: bold;
    color:gold;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
}

section.rules:hover li:hover {
    font-size: 150%;
    
}

section.points:hover li:hover {
    font-size: 110%;
    
}

.fadeIn {
    animation: fadeIn 12s;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;};

}

